.Issue {
    grid-area: i;
    padding-top: 50px;
    text-align: left;
}

.description {
    font-weight: bold;
}

.value {
    margin-bottom: 2em;
    width: 25em;
}

.navlink {
    color: var(--dark-color)
}