:root {
    font-size: calc(0.5em + 0.7vw);
    --main-font: Roboto, sans-serif;
    --dark-gray-color: #545454;
    --light-gray-color: #6a6a6a;
    --white-color: #fff;
}

body {
    font-family: var(--main-font);
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h h" "n il i";
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 10vh 90vh;
}