.Navbar {
    grid-area: n;
    background: #6a6a6a;
    color: white;
    padding: 50px 20px 0 20px;
}
.Navbar select{
    width: 250px;
}

.Navbar button{
    width:250px;
}

.Navbar input{
    width:242px;
}
.SearchIssueForm{
    margin-top:100px;
}